<link rel="stylesheet" href="../stylesheets/app.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<body style="font-family:proxima-nova">

  <div class="container-fluid" style="font-family:proxima-nova; padding:50px">
    <div class="col-md-12">
    <div class="logo" style="font-weight:800">
      <img src="../images/blaze-logo.png" class="logo-image"/>
      TriggerIQ</div>

    <div class="login-btn">LOGIN</div>
    <div class="login-btn" style="display:none">PRICING</div>
  </div>

  <div class="col-md-12">
    <center> <img src="../images/astronaut.png" id="main-img"/></center>
    <center>  <div class="tagline">Explore Your Data</div></center>
    <br/>
    <br/>
    <br/>
    <br/>
    <center>
    <div id="signup-btn">SIGNUP</div>
    </center>
    </div>
  </div>
</body>
<script src="//use.typekit.net/wzk7jom.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
